
.header {                
                        
                    
                        background-size:            cover;
                        background:                 no-repeat;
                        padding-top:                 50px;
                        margin:                     100px;
                        max-height:                 200px;

                        
                    

        
}
.nav{               
                    
                    position:                          -webkit-sticky;
                    position:                           sticky;
                    top:                                0;
                    font-size:                          30px;
                    text-align:                         center;
                    color:                              white;
                    padding-top:                        5px;
                    border:                             0px solid white;
                    padding-bottom:                     400px;
                    margin-left: 0px;
                    padding-left:                        0px;
                    height:                         200px                         
                    
}

main{                       font-size: 25px;
                            display: inline-block;
                            max-width: 100%;
                            padding-bottom: 20px;

                            








}
.studentid            {
                        font-size: 25px;
                        display: inline-block;
                        max-width: 30%;
                        max-height:auto;
                        margin-left: auto;
                        margin-right: auto;
                        padding-top: 0;
                        text-align: left;
                        vertical-align: top;
                        padding: 20px;






}



.title              {color: white;display: inline-block;}
img                 {width: 255px; border-radius: 50%;padding-top:15px;height: auto;}














.Personal Information    {display: block;max-height: 50px;max-width: 100px;padding: 0px;}
                       









h1{                 text-align:                     center;
                    background-color:            #008000; 
                    padding-top:                      10px;
                    margin-top:                        0px;
                           
}
h5{                    text-align: left;
                       font-size: 35px;
                       background-color: lightgreen;               




}
h6{                     text-align: left;
                        font-size: 25px;
                        background-color: lightgreen; 
                        width: 30%;
                      
                      
                      
                      }

Body{                   background-color:          whitesmoke;
                        font-size:                  25px;
                        border:                     5px solid green;
                        padding:                    40px;


    }

table{                  width: 80%;
                        border: 2px solid black;
        
}          
.teamtable              {text-align: left;
                        border: 2px solid black;
                        margin-left: auto;
                        margin-right: auto;
                        
    


  }
                        


                    

td{                 
                        border: 3px solid black;
                        text-align: left;
                        
                
                
                
}
th                      {font-size: 28px;width:}







footer                  {font-size: 28px;
                        padding-left: 50px;
                        background-color: green;
                        color: white;
                        padding-top: 25px;
                        display: block
}

                          
                    
                    
.bottomnavlist               
                    {font-size: 20px;
                    position: absolute;
                    right: 0px;
                    display: block;
                    padding-top: 250px;                                                
                    
}
.references         {font-size: 12px;

                     




}
.references2            {display: block;
                        font-size: 12px;                        


}
.captions              {margin-left: auto; 
                        margin-right: auto;
                        width: 50%;}

.namewithout            {border: 0;
}
 
 .pie-chart {width: 30px;

 }    
.sidebside{               display:inline-block;
                          width: 49%;




}
video{ width: 300px; margin-right: 89%; margin-bottom:0px; padding:0;       

 }


