
.header {                
                        
                    
                        background-size:cover;
                        background:no-repeat;
                        
                    

        
}
.nav{               
                    
                    position:-webkit-sticky
                    position: sticky;
                    top: 0;
                    font-size: 30px;
                    text-align: center;
                    color: white;
                    padding-top: 50px;
                    border: 0px solid white;
                    padding-bottom: 400px;
                    padding-top: 50px;
                    
}



.title          {color: white;}
main            {max-width: 1250px;display: inline-block;text-align: left;margin-left:15%;mar}
img             {width: 200px; border-radius: 50%;padding-top:15px;height: 200px;}

.matt-info      {width: 400px;font-size: 20px;text-align: left;display: inline-block;caption-side: ;}
.angadh-info    {width: 400px;font-size: 20px;text-align: left;display: inline-block}
.maddison-info  {width: 400px;font-size: 20px;text-align: left;display: inline-block;}
.beau-info      {width: 400px;font-size: 20px;text-align: left;display: inline-block;}
.cameron-info   {width: 400px;font-size: 20px;text-align: left;display: inline-block;}
.kieran-info    {width: 400px;font-size: 20px;text-align: left;display: inline-block;}
                            


.video          { position: relative;
                margin-top: 10px;
                padding-top: 20px;

}





h1{                 text-align:                     center;
                    background-color:            #008000; 
                    padding-top: 10px;
                           
}


Body{               background-color:          whitesmoke;
                        font-size:                  25px;


    }




